<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gmail.naetmul.copytoclipboard"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="16"
              android:targetSdkVersion="33"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:exported="true">

        <!-- Use Theme.NoDisplay and call finish() in onCreate() to get rid of UI. -->
        <activity android:name=".ReceiverActivity"
                  android:label="@string/activity_name"
                  android:excludeFromRecents="true"
                  android:theme="@android:style/Theme.NoDisplay"
                  android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

        </activity>
    </application>
</manifest>
